.navbar {

    position: relative;
    height: 100vh;
    width: 200px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: white;

}

.logo {
    color: #007777;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

.menu {

    margin: 2em;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.menu-btn:nth-last-child(1){

    position: absolute;
    bottom: 50px;

}

.menu p {

    margin-right: .5em;

}

.menu-btn {

    height: 30px;
    margin: 0em .5em;
    padding: .5em 1em;
    background: transparent;
    color: black;
    border: none;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.menu-btn i {

    margin-right: .5em;
    font-size: 1rem;

}

.menu-btn:hover {

    animation: btn-shake infinite 1s ease-in-out;
    text-decoration: none;

}

.active-cart {

    color: #007777;
    font-weight: 700;
    animation: highlight-cart infinite 3s ease-in-out;

}

@keyframes highlight-cart {
    0% {transform: translateY(0px)}
    80% {transform: translateY(0px)}
    85% {transform: translateY(-5px)}
    90% {transform: translateY(0px)}
    100% {transform: translateY(0px)}
}