.modal-container {

    position: fixed;
    z-index: 1999;

    background: rgba(0, 0, 0, .3);

    top: 0;
    bottom: 0;
    left: 0px;
    right: 0;

    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.remove-modal {

    width: 350px;
    height: 200px;
    background: white;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, .6);

}

.remove-modal::before {

    content: "";
    top: 0;
    bottom: 0;
    left: 0px;
    right: 0;
    position: absolute;

}

.modal-header {

    margin: 0em 1em;
    height: 25px;
    border-bottom:  1px solid #007777;

}

.modal-content {

    position: absolute;
    margin: 0em 1em;
    height: 150px;
    width: 280px;

}

.modal-content .btn-group {

    width: 100%;
    margin: 0em 1em;
    position: absolute;
    bottom: 0;

}

#payment-step-1 {

    display: flex;

}

#payment-step-2{

    display: none;

}